/* // .notification{
//     display: flex;
//     // overflow: hidden;

//     .msg_all{
//         // width: 100%;
//         // height: 100vh;
//     }
// }

// .app__container{
//     min-width: 100vw;
//     height: 100vh;

//     // display: flex;
//     // flex-direction: row;
// }

// .app__flex {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//   } */
/* .notification {
  // background: aqua;
} */

.msg {
  padding-top: 2rem;
}

.app__container {
  width: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: row;
}

.app__flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app__wrapper {
  flex: 1;
  width: 100%;
  flex-direction: column;
  padding: 4rem 2rem;

}