.app__navbar {
  width: 100%;
  background: white;

  display: flex;
  justify-content: space-between;

  height: 50px;

  position: fixed;
  /* align-items: center; */
  /* gap: 30px; */
  border-radius: 10px;

  .app__navbar-links {
    flex: 1;
    display: flex;
    /* justify-content: center; */
    align-items: center;

    list-style: none;

    li {
      margin: 0 1rem;
      cursor: pointer;

      flex-direction: column;

      div {
        width: 5px;
        height: 5px;
        background: transparent;
        border-radius: 50%;

        margin-bottom: 5px;
      }

      a {
        color: gray;
        text-decoration: none;
        flex-direction: column;

        /* text-transform: uppercase; */
        font-weight: 500;

        transition: all 0.3s ease-in-out;

        &:hover {
          color: black;
        }
      }

      &:hover {
        div {
          background: transparent;
        }
      }
    }

  }
}

/* // .app__navbar {
//     width: 100%;
  
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
  
//     // padding: 1rem 2rem;
//     background: rgba(255, 255, 255, 0.25);
//     backdrop-filter: blur(4px);
//     -webkit-backdrop-filter: blur(4px);
//     border: 1px solid rgba(255, 255, 255, 0.18);
//     position: fixed;
//     z-index: 2;
//   }
  
  
//   .app__navbar-links {
//     flex: 1;
//     display: flex;
//     justify-content: center;
//     align-items: center;
  
//     list-style: none;
  
//     li {
//       margin: 0 1rem;
//       cursor: pointer;
  
//       flex-direction: column;
  
//       div {
//         width: 5px;
//         height: 5px;
//         background: transparent;
//         border-radius: 50%;
  
//         margin-bottom: 5px;
//       }
  
//       a {
//         color: var(--gray-color);
//         text-decoration: none;
//         flex-direction: column;
  
//         text-transform: uppercase;
//         font-weight: 500;
  
//         transition: all 0.3s ease-in-out;
  
//         &:hover {
//           color: var(--secondary-color);
//         }
//       }
  
//       &:hover {
//         div {
//           background: var(--secondary-color);
//         }
//       }
//     }
  
//   }
  
  
// .nav-bar{
//     width: 100%;
//     height: 50px;
//     background: white;
//     display: flex;
//     align-items: center;
//     gap: 30px;
//     border-radius: 10px;
    
    
//     a{
//         text-decoration: none;
//         color: black;
//         background: transparent;
//         display: flex;
//         font-size: 1.1rem;

//         &:hover{
//             background:rgba(0, 0, 0, 0.3);
//         }
//     }
    
    a.active{
        background: rgba(26, 255, 26, 0.7);
        color: black;
        font-weight: 700;
        border-radius: 5px;
        display: flex;
        justify-content: center;

        &::after{
            width: 5px;
            height: 5px;
            background: rgba(26, 255, 26, 0.7);
            border-left: 25px solid transparent;
            border-right: 25px solid transparent;
            border-top: 50px solid #555;
        }
    }
// } */